<!DOCTYPE html>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close" data-dismiss="modal" aria-label="Close">
				<span aria-label="true">&times;</span>
			</button>
			<h4>
				<span class="glyphicon glyphicon-star-empty"></span> <span>
					New Room </span> <span class="glyphicon glyphicon-star-empty"></span>
			</h4>
		</div>
		<div class="modal-body">
			<label for="new-room-name">Name</label> <input id="new-room-name"
				class="form-control" />
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">
				<span class="glyphicon glyphicon-remove"></span> <span> Close</span>
			</button>

			<button id="btn-register-room" type="button" class="btn btn-primary">
				<span class="glyphicon glyphicon-ok"></span> <span> Create</span>
			</button>
		</div>
	</div>
</div>