@CHARSET "UTF-8";

.opened-room>a {
	padding-right: 10px !important;
}

.opened-room>span.close {
	position: absolute;
	top: 8px;
	right: 10px;
	color: rgb(202, 103, 103);
	font-size: 1.5em;
}

.btn-room-logout>span{
	margin-left: 10px;
}

.modal-header>h4 {
	text-align: center;
}

label.error {
	font-weight: bold;
	color: rgba(223, 48, 48, 0.76);
}

input.error {
	border: 1px solid rgba(223, 48, 48, 0.76);
}

span.error-detail {
	font-size: 0.8em;
	color: rgb(184, 184, 184);
	margin-left: 10px;
}

.alert {
	z-index: 999999999999999 !important;
}

.chat-content {
	display: block;
	position: absolute;
	bottom: 180px;
	top: 53px;
	background-color: rgb(242, 242, 242);
	width: 80%;
	overflow-y: scroll;
}

.chat-content>div.message {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.31);
	border: 1px solid rgba(0, 0, 0, 0.07);
	margin: 5px;
	border-radius: 4px;
	word-break: break-all;
}

.chat-content>div.message>header {
	font-weight: bold;
}

.chat-message {
	display: block;
	position: absolute;
	bottom: 53px;
	background-color: rgb(224, 224, 224);
	width: 80%;
	height: 125px;
	padding: 5px;
}

.chat-users {
	display: block;
	position: absolute;
	bottom: 53px;
	top: 30px;
	background-color: rgba(52, 73, 94, 0.83);
	width: 20%;
	right: 0px;
	border-left: 1px solid black;
}

.sent-at {
	font-size: 0.7em;
	font-style: italic;
	margin-right: 10px;
}

#nav-active-rooms {
	margin-right: 30px;
}

.active-room {
	background-color: rgb(63, 81, 100);
	border-left: 1px solid rgb(83, 103, 124);
	border-right: 1px solid rgb(83, 103, 124);
}

.invisible {
	display: none;
}

.txt-message {
	margin-bottom: 10px;
}

.btn-send-message {
	width: 200px;
	float: right;
}

ul.navbar-right {
	margin-right: 20px !important;
}

ul.navbar-right>li>a:HOVER, ul.navbar-right>li>a {
	border-radius: 0px !important;
}

ul.navbar-left {
	margin-left: 10px !important;
}

ul.navbar-left>li>a:HOVER, ul.navbar-left>li>a {
	border-radius: 0px !important;
}

#modal-rooms>.modal-dialog {
	width: 90%;
}

.room {
	padding: 10px;
  border: 2px solid rgb(189, 195, 199);
  margin: 5px;
  border-radius: 6px;
}

.room:HOVER {
	background-color: rgb(242, 242, 242);
	cursor: pointer;
}

.to-right{
	text-align: right;
}

#global-notifications{
	margin-top: 60px;
	margin-left: 10px;
	margin-right: 10px;
}