@CHARSET "UTF-8";

#opened-room{
}

.chat-content{
	display: block;
	position: absolute;
	bottom: 180px;
	top: 53px;
	background-color: rgb(242, 242, 242);
	width: 80%;
	overflow-y: scroll;
}

.chat-content>div.message{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.chat-message{
	display: block;
	position: absolute;
	bottom: 53px;
	background-color: rgb(224, 224, 224);
	width: 80%;
	height: 125px;
	padding: 5px;
}

.chat-users{
	display: block;
	position: absolute;
	bottom: 53px;
	top: 30px;
	background-color: rgba(52, 73, 94, 0.83);
	width: 20%;
	right: 0px;
	border-left: 1px solid black;
}

#nav-active-rooms{
	margin-right: 30px;
}

.active-room{
	background-color: rgb(63, 81, 100);
	border-left: 1px solid rgb(83, 103, 124);
	border-right: 1px solid rgb(83, 103, 124);
}

.invisible{
	display: none;
}

.txt-message{ width: 100%; }
.btn-send-message { width: 200px; float: right; }